/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  width: 100%;
}

main {
  min-height: 100vh;
  padding: 1rem;
}
